@import url('https://fonts.googleapis.com/css?family=Montserrat|Lobster|Poppins&display=swap');

.admin-container {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	margin-top: 10px;
}

.main-pannel {
	width: 80%;
	height: 100%;
	overflow-y: auto;
}

.pannel-header {
	padding: 15px;
	font-family: 'Poppins';
	color: rgb(26, 60, 88);
	font-size: 22px;
}

.read-story-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title-container {
	width: 70%;
	padding: 10px;
	font-family: 'Poppins';
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.img-container {
	width: 70%;
}

.img-container img {
	width: 50%;
}

.data-container {
	width: 70%;
	font-size: 18px;
	font-family: 'Poppins';
}

.data-container pre {
	white-space: pre-wrap;
	font-size: 18px;
	width: 100%;
	font-family: 'Poppins';
}

.options {
	width: 70%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 15%;
}

.options button {
	padding: 10px 20px;
	background-color: rgb(26, 60, 88);
	text-decoration: none;
	color: white;
	font-family: 'Poppins';
	border: none;
	font-size: 18px;
}